@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,600&display=swap");

:root {
  --blue: #0033a0;
  --yellow: #e3e829;
  --lightBlue: #59c7d7;
  --gray: #ecf0f1;
  --lightGray: #e6e7ee;
}

body {
  overflow: hidden;
  font-family: "Barlow", sans-serif;
  margin: 0px;
  overflow: scroll;
}
.mobile {
  display: none;
}
.mobile_select {
  display: none;
}

select {
  font-family: "Barlow", sans-serif;
}

.container {
  z-index: 1;
  display: block;
  width: 100%;
}
.container_header {
  width: auto;
  height: 10%;
}

.header {
  display: flex;
  width: 100%;
}

.image_header {
  padding-left: 2%;
  align-self: center;
  justify-self: center;
  width: 10%;
  height: 80%;
}

.image_header img {
  padding-left: 20%;
  width: auto;
}

.btn_header {
  display: flex;
  justify-content: end;
  padding: 1%;
  align-content: flex-end;
  width: 100%;
  margin-right: 7%;
}

.container_country {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.container_country p {
  color: var(--blue);
  border: 0px;
  font-size: 100%;
  font-weight: bolder;
  align-content: center;
  justify-content: center;
  padding-top: 2%;
}

.select_country {
  color: var(--lightBlue);
  border: 0px;
  font-size: 90%;
  font-weight: bolder;
  align-content: center;
  justify-content: center;
  padding: 5%;
}

.container_meet_us {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 15%;
  margin: 1%;
  margin-right: 2%;
  border-left: 1px solid var(--lightGray);
  border-right: 1px solid var(--lightGray);
}

.meet_us {
  color: var(--blue);
  border: 0px;
  font-size: 90%;
  font-weight: bolder;
  padding: 5%;
}

.container_login {
  align-self: center;
  width: auto;
  height: 65%;
  padding-right: 2%;
  padding-left: 2%;
  background: var(--yellow);
  border-radius: 30px;
}

.container_login {
  display: flex;
  justify-content: center;
}

.btn_login {
  width: auto;
  text-align: center;
  margin-top: 6%;
  background: var(--yellow);
  color: var(--blue);
  font-size: 90%;
  font-weight: bolder;
  border: 0px;
}

.nav {
  display: flex;
  width: 100%;
  background-color: var(--blue);
  color: #ffffff;
}

.nav_title {
  display: flex;
  justify-content: start;
  font-size: 60%;
  padding-left: 5%;
}

.select_nav {
  display: flex;
  justify-content: end;
  width: 100%;
  color: #ffffff;
}

.container_mobility {
  display: flex;
  width: 8%;
  margin-right: 0px;
  justify-content: center;
}

.select_mobility {
  background: var(--blue);
  color: #ffffff;
  font-weight: bolder;
  border: 0px;
}

.container_home {
  display: flex;
  width: 8%;
  margin-right: 0px;
  justify-content: center;
}

.select_home {
  background: var(--blue);
  color: #ffffff;
  font-weight: bolder;
  border: 0px;
}

.container_healty {
  display: flex;
  width: 8%;
  margin-right: 0px;
  justify-content: center;
}

.select_healty {
  background: var(--blue);
  color: #ffffff;
  font-weight: bolder;
  border: 0px;
}

.container_company {
  display: flex;
  width: 8%;
  margin-right: 0px;
  justify-content: center;
}

.select_company {
  background: var(--blue);
  color: #ffffff;
  font-weight: bolder;
  border: 0px;
}

.container_help {
  display: flex;
  width: 8;
  justify-content: center;
  padding-right: 2%;
}

.select_help {
  background: var(--blue);
  color: #ffffff;
  font-weight: bolder;
  border: 0px;
}

.container_virtual {
  display: flex;
  background: var(--lightBlue);
  width: 13%;
  margin-right: 8.5%;
  justify-content: center;
}

.container_virtual div {
  display: flex;
  justify-content: center;
  align-content: center;
}
.sura_seguros_image {
  width: 100%;
  grid-column: 1/1;
  grid-row: 2/2;
}

.auto_pase_image {
  width: 100%;
  grid-column: 2/2;
  grid-row: 2/2;
}

.car_image {
  width: 100%;
  grid-column: 2/4;
  grid-row: 3/3;
}

.driver_image {
  width: 100%;
  grid-column: 3/7;
  grid-row: 2/5;
}

.select_virtual {
  background: var(--lightBlue);
  width: 100%;
  font-size: 110%;
  font-weight: bolder;
  border: 0px;
  color: #ffffff;
}

.container_banner {
  display: flex;
  background: #f1f4f4;
}

.container_description {
  display: flex;
  width: 40%;
  padding-left: 10%;
  align-content: center;
  justify-content: end;
}

.container_description div {
  color: var(--blue);
  align-self: center;
  padding: 2%;
}

.container_images {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  width: 100%;
}

.container_form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: var(--blue);
  background: var(--gray);
  width: auto;
  box-shadow: -5px 4px 15px rgba(0, 45, 84, 0.25);
}

.container_form h1 {
  text-align: center;
  font-size: 22px;
}

.space_form {
  align-self: center;
  width: 4%;
  margin-top: 2%;
  border: 3px solid #00aec7;
  border-radius: 30px;
}

.form {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}

.form div {
  width: auto;
  height: auto;
}

.form label {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
}

.form input {
  font-family: "Barlow", sans-serif;
  border-radius: 100px;
  border: 0px;
  box-sizing: border-box;
  border: 1px solid #ecf0f1;
}

.rut_form {
  display: flex;
  flex-direction: column;
  padding-right: 3%;
}

.rut_form div {
  display: flex;
  flex-wrap: nowrap;
  margin: 1%;
}

.rut_form input {
  height: 60%;
  align-self: center;
}

.rut_form p {
  padding: 2%;
}

.verificator_input {
  width: 50px;
}

.email_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3%;
}

.email_form div {
  display: flex;
  align-self: center;
  margin: 1%;
}

.email_form input {
  height: 30px;
  align-self: center;
}

.phone_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3%;
}

.phone_form div {
  display: flex;
  align-self: center;
  margin: 1%;
}

.phone_form input {
  height: 30px;
  align-self: center;
}

.btn_request {
  width: auto;
  align-self: center;
  margin: 1%;
  height: auto;
  padding: 1%;
  background: var(--yellow);
  border-radius: 30px;
}

.btn_request button {
  width: auto;
  font-family: "Barlow", sans-serif;
  text-align: center;
  background: var(--yellow);
  color: var(--blue);
  font-size: 100%;
  padding-left: 6%;
  font-weight: bolder;
  border: 0px;
}

.main_description {
  display: flex;
  padding-left: 10%;
  justify-content: space-between;
}

.container_coverage {
  width: 50%;
  padding: 2%;
}

.container_coverage h1 {
  color: var(--blue);
}

.container_coverage h2 {
  color: var(--blue);
}

.container_warning {
  border-left: 2px solid var(--gray);
  width: 50%;
  padding: 2%;
  color: #53565a;
  line-height: 30px;
}

.container_warning h2 {
  text-align: center;
}

.container_warning ul {
  list-style-image: url("/assets/images/list_style.png");
}

.container_coverage p {
  color: #53565a;
}

.damage div {
  display: flex;
  align-content: center;
}

.damage img {
  width: 20%;
}

.damage h2 {
  text-align: center;
}
.damage_title {
  display: flex;
  flex-direction: column;
}

.space_form_coverage {
  align-self: left;
  width: 8%;
  margin-top: 2%;
  margin-left: 2%;
  border: 3px solid #00aec7;
  border-radius: 30px;
}

.space_form_damage {
  align-self: left;
  width: 40%;
  margin-top: 2%;
  border: 3px solid #00aec7;
  border-radius: 30px;
}

.space_form_responsability {
  align-self: left;
  width: 25%;
  margin-top: 2%;
  border: 3px solid #00aec7;
  border-radius: 30px;
}

.container_warning div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.warning_pay div {
  width: 60%;
  align-self: center;
}

.warning_pay p {
  text-align: center;
  line-height: 15px;
  font-size: 80%;
}

.warning_pay img {
  width: 90%;
}

.container_politics {
  display: flex;
  justify-content: center;
  color: #333333;
  background: var(--gray);
  width: 100%;
  box-shadow: 0px -5px 31px rgba(0, 45, 84, 0.25);
}

.container_politics div {
  font-size: 60%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;
  text-align: center;
}

.container_footer {
  background: #ffffff;
  padding-top: 1%;
  padding-left: 3%;
}

.first_list {
  display: flex;
  justify-content: space-between;
}

.first_list nav {
  width: 100%;
}

.first_list div li {
  display: inline-flex;
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  color: var(--blue);
  justify-content: end;
  font-size: 15px;
  margin-left: 1%;
  padding: 2%;
  margin-right: 2%;
}

.list {
  width: 80%;
  margin-right: 0px;
}

.about_list {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
  font-size: 90%;
  text-decoration: none;
  color: #8189a9;
}

.about_list li {
  list-style: none;
  line-height: 20px;
}

.final_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 2%;
  padding-right: 4%;
  font-size: 90%;
  text-decoration: none;
  color: #8189a9;
  text-align: end;
}

.final_list nav {
  width: 100%;
}

.final_list li {
  display: inline-flex;
  padding: 2%;
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  padding-right: 5%;
}

#social_media {
  padding: 0.5%;
}

@media (max-width: 720px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form div {
    width: auto;
    height: auto;
  }

  .form label {
    font-family: "Barlow", sans-serif;
    font-size: 12px;
  }

  .form input {
    font-family: "Barlow", sans-serif;
    border-radius: 100px;
    border: 0px;
    box-sizing: border-box;
    border: 1px solid #ecf0f1;
  }

  .rut_form {
    display: inline-flex;
    padding-right: 3%;
  }

  .rut_form div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }

  .rut_form label {
    padding: 2%;
  }

  .rut_form input {
    height: 60%;
    align-self: center;
  }

  .rut_form p {
    padding: 2%;
  }

  .verificator_input {
    width: 50px;
  }

  .email_form {
    display: flex;
    justify-content: center;

    padding-right: 3%;
  }

  .email_form div {
    display: flex;
    align-content: flex-start;
    align-self: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .email_form label {
    align-self: flex-start;
    margin-top: 0px;
    padding: 3%;
  }
  .email_form input {
    height: 30px;
    align-self: center;
  }

  .phone_form {
    display: flex;
    justify-content: center;
    padding-right: 3%;
  }

  .phone_form div {
    display: flex;
    align-content: flex-start;
    align-self: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .phone_form label {
    align-self: flex-start;
    margin-top: 0px;
    padding: 3%;
  }

  .phone_form input {
    height: 30px;
    align-self: center;
  }

  .btn_request {
    width: auto;
    align-self: center;
    margin: 1%;
    height: auto;
    padding: 1%;
    background: var(--yellow);
    border-radius: 30px;
  }

  .btn_request button {
    width: auto;
    font-family: "Barlow", sans-serif;
    text-align: center;
    background: var(--yellow);
    color: var(--blue);
    font-size: 100%;
    padding-left: 6%;
    font-weight: bolder;
    border: 0px;
  }
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .container_banner {
    display: flex;
    flex-direction: column;
    background: #f1f4f4;
  }
  .container_description {
    display: flex;
    width: auto;
    align-content: center;
    justify-content: end;
  }

  .container_warning {
    width: 50%;
    padding: 2%;
    color: #53565a;
    line-height: 30px;
  }

  .container_description div {
    color: var(--blue);
    justify-content: center;
    padding: 6%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
  .main_description {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .container_coverage {
    width: 100%;
    padding: 2%;
  }
  .container_warning div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container_warning {
    border-left: 2px solid var(--gray);
    width: auto;
    padding: 2%;
    color: #53565a;
    line-height: 30px;
  }
  .rut_form p {
    padding: 0%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .about_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2%;
    font-size: 90%;
    text-decoration: none;
    color: #8189a9;
  }

  .btn_header {
    display: none;
  }
  .mobile {
    display: flex;
    color: var(--blue);
  }
  .mobile div {
    margin-right: 4%;
  }
  .header {
    justify-content: space-between;
  }

  .mobile img {
    width: 40px;
  }

  .select_nav {
    display: none;
  }

  .mobile_select {
    display: flex;
    padding-right: 2%;
    background: var(--blue);
  }

  .mobile_select div {
    display: flex;
    padding-right: 4%;
    justify-content: center;
    align-content: center;
  }

  .select_mobility_mobile {
    background: var(--blue);
    color: #ffffff;
    font-weight: bolder;
    border: 0px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .btn_mobile {
    border: 0px;
    background-image: url("/assets/images/mobile.png");
  }
}
